## Import Libraries

In [23]:
# Imports
import pandas as pd 
from sqlalchemy import create_engine
from time import time

In [4]:
pd.__version__

'2.1.4'

## Load the csv data into pandas dataframe

In [14]:
df_iter = pd.read_csv("../data/yellow_tripdata_2021-07.csv", iterator=True, chunksize=100000)
df = next(df_iter)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 13.7+ MB

In [16]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [17]:
df.shape

(100000, 18)

In [18]:
# Convert the data type of some of the columns to a timestamp
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 13.7+ MB

## Create a connection to PostgreSQL using SQLAlchemy

In [19]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [20]:
engine.connect()

### Create a PostgreSQL schema based on the DataFrame

In [21]:
# use the IO module inside pandas
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [24]:
# Create the initial schema
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [25]:
# Append the first chunck to postgres
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 4.17 s, sys: 120 ms, total: 4.29 s
Wall time: 7.52 s

1000

In [28]:
# Append the rest of the chunks to postgres
while True:
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        break

    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()

    print(f"100,000 Chunk loaded in {(t_end - t_start):.3f} seconds")

100,000 Chunk loaded in 7.734 seconds
100,000 Chunk loaded in 7.563 seconds
100,000 Chunk loaded in 7.640 seconds
100,000 Chunk loaded in 7.577 seconds
100,000 Chunk loaded in 7.563 seconds
100,000 Chunk loaded in 7.769 seconds
100,000 Chunk loaded in 7.560 seconds
100,000 Chunk loaded in 8.144 seconds
100,000 Chunk loaded in 7.766 seconds
100,000 Chunk loaded in 7.737 seconds
100,000 Chunk loaded in 7.788 seconds
100,000 Chunk loaded in 7.612 seconds
100,000 Chunk loaded in 7.766 seconds
100,000 Chunk loaded in 7.823 seconds
100,000 Chunk loaded in 7.458 seconds
100,000 Chunk loaded in 7.814 seconds
100,000 Chunk loaded in 7.513 seconds
100,000 Chunk loaded in 7.560 seconds
100,000 Chunk loaded in 7.484 seconds
100,000 Chunk loaded in 7.565 seconds
100,000 Chunk loaded in 7.577 seconds
100,000 Chunk loaded in 7.478 seconds
100,000 Chunk loaded in 7.792 seconds
100,000 Chunk loaded in 8.766 seconds

/var/folders/4b/nlyfpvfd7237h1kc66f801fc0000gn/T/ipykernel_68360/1041527439.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

100,000 Chunk loaded in 7.800 seconds
100,000 Chunk loaded in 6.847 seconds
100,000 Chunk loaded in 1.494 seconds